.background{
    background-image: url('https://c.wallhere.com/photos/2a/5e/food_vegetables_tomatoes_salad_Pepper_Garlic_Paprika-1949021.jpg!d');
    background-repeat: no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height:100%;

} 

.loaderContainer{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    align-items: center;
}

.loaderInnerContainer{
    background-color: rgba(52, 104, 97, 0.795);
    padding: 65px;
    border-radius: 10px;
}

.menu1{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(52, 104, 97);
}

.searchBarContainer{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.searchBarContainer2{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.btnMenu1{
    padding: 10px;
    background-color: rgb(110, 133, 130);
    border-color: rgb(67, 82, 80);
    color: #3f3f3f;
    border-radius: 8px;
    cursor: pointer;
}

.filtersFont{
    color: #1a1a1a;
}

.menu2{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(52, 104, 97, 0.678);
    
}

.each{
    min-width: 225px;
    /* padding: 15px; */
    background-color: rgb(110, 133, 130);
    border-color: rgb(67, 82, 80);
    color: #3f3f3f;
    border-radius: 8px;
    height: 30px;
}

.pageIdentifier{
    display: flex;
    justify-content: center;
    background-color: rgba(161, 196, 191, 0.705);
    width: 125px;
    border-radius: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.containerPageIdentifier{
    margin-top: -45px;
    display: flex;
    justify-content: center;
}


/* Responsividad */
@media (max-width: 1024px) {
    .menu1, .menu2 {
        flex-direction: column;
        align-items: center;
    }

    .each {
        min-width: 180px;
    }
}

@media (max-width: 768px) {
    .menu1{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgb(52, 104, 97);
    }
    
    .menu2{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(52, 104, 97, 0.678);
        
    }

        
    .searchBarContainer{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .searchBarContainer2{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .loaderContainer{
        margin-top: 35%;
    }

    .btnMenu1, .each {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .background {
        background-size: cover;
        background-attachment: scroll;
    }

    .menu1{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgb(52, 104, 97);
    } 
    
    .menu2 {
        flex-direction: column;
        align-items: center;
    }

    .btnMenu1, .each {
        width: 90%;
        font-size: 14px;
    }

    .pageIdentifier {
        width: 100px;
        font-size: 14px;
    }
}
