.background{
    background-image: url('https://c.wallhere.com/photos/2a/5e/food_vegetables_tomatoes_salad_Pepper_Garlic_Paprika-1949021.jpg!d');
    background-repeat: no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height:100%;
} 

.menu1{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

.menu2{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}